<?php

use Illuminate\Database\Seeder;

class DatabaseSeeder extends Seeder
{
    /**
     * Seed the application's database.
     *
     * @return void
     */
    public function run()
    {
        $this->call(AuthPermisosSeeder::class);
        $this->call(AuthModulosSeeder::class);
        $this->call(AuthModuloPermisosSeeder::class);
        $this->call(AuthMenuSeeder::class);
        $this->call(AppAdminSeeder::class);
    }
}
